.background-texture {
  background-image: url("../../public/images/noisy.png");
  background-attachment: local;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
  border: 2px solid transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-normal #{!important};
}
